.login-form-div {
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 12rem;
  width: 40%;
  border: 1px solid;
  border-radius: 5px;
}

.login-form-div h2 {
  text-align: center;
}
.login-form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-form-group label {
  margin: 0.5rem 1rem;
}
.login-form-group input {
  margin: 0 1rem;
  height: 2rem;
  border: 1px solid;
  border-radius: 5px;
}

.login-submit {
  margin: 0.5rem 1rem;
  text-align: center;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  width: 10rem;
  height: 2.5rem;
  background: #0e6efd;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-loading {
  margin: 0.5rem 1rem;
  text-align: center;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  width: 10rem;
  height: 2.5rem;
  background: #0e6efd;
  color: #ffffff;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-submit:hover {
  cursor: pointer;
  opacity: 0.8;
}
.reg-red {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 1rem;
}

.reg-red small {
  color: #0e6efd;
}

.reg-red small:hover {
  cursor: pointer;
}
@media only screen and (max-width: 430px) {
  .login-form-div {
    margin: 8rem 0rem 5rem;
    width: 100%;
  }
}
